<form action="/user/signup" method="post" style="border:1px solid #ccc">
  <div class="container">
    <h1>Sign Up</h1>
    {{# if hasErrors}}
    <div class="alert alert-danger">
      {{# each messages}}
      <p>{{this}}</p>

      {{/each}}
    </div>
    {{/if}}

    <p>Please fill in this form to create an account.</p>
    <hr>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>



    <label>
      <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
    </label>



    <div class="clearfix">

      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <button type="submit" class="signupbtn align-center">Sign Up</button>

    </div>
  </div>
  </form>
